<html>

   {% include 'index.html' %}

<table align="center">
    <tr>
        <th  width="150" style="text-align: center"> <button type="submit" class="btn btn-primary">Product Type</button></th>
        <th  width="150" style="text-align: center"><button type="submit" class="btn btn-success">Add Product</button></th>
        <th  width="150" style="text-align: center"><button type="submit" class="btn btn-info">View Products</button></th>
        <th  width="150" style="text-align: center"><button type="submit" class="btn btn-warning">Update Product</button></th>
        <th  width="150" style="text-align: center"><button type="submit" class="btn btn-danger">Delete Product</button></th>
    </tr>
</table>
</html>