<html>
<body>
<table>
    <form action="/display/" method="post">
        {% csrf_token %}
        <th> Test </th>
    <tr>
        <td><input type="password" placeholder="Password" name="t1"> </td>
        <td><th><button type="submit">SAVE</button> </th></td>
    </tr>
    </form>
     <form action="/display/">
         <tr>
        <td><input type="password" placeholder="Password" name="t2"> </td>
        <td><th><button type="submit">SAVE</button> </th></td>
    </tr>
     </form>
</table>
</body>
</html>