<html>
<body>
<form action="show/" method="post">
    {% csrf_token %}
<table border="2" align="center">
    <tr>
        <td>Employee No.:</td>
        <td><input type="number"required min="1001" ></td>
    </tr>
    <tr>
        <td>Employee Name: </td>
        <td><input type="text" required></td>
    </tr>
    <tr>
        <td>Basic Salary: </td>
        <td> <input type="number" step="0.01" required name="bs"></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><button type="submit" >Display</button> </td>
    </tr>
    <tr>
   <center>
    <td colspan="2">
    <div class="c"> <h2>Total Salary: <span style="color: royalblue">{{data}} </span> </h2></div></td>
   </center>
    </tr>
</table>
</form>
</body>
</html>